<div  *ngIf="isLoggedIn" else #notLoggedIn>
      <div class="list-container">
        You are connected to Metamask
        <div>
          Address: <strong>{{ user?.address }}</strong>
        </div>
        <div>
          Balance: <strong>{{ user?.balance }} ETH</strong>
        </div>
        <br />
        <div class="product-list">
          <h2>Available Products</h2>
  
          <div *ngIf="cart.length">
            {{ cart.length }} items in Cart
            <button class="add-to-cart-button" (click)="checkoutToSign(cart)">Continue to checkout</button>
          </div>
  
          <div class="product-cards">
            <div *ngFor="let product of products" class="product-card">
              <h3 class="product-name">{{ product.name }}</h3>
              <p class="product-description">{{ product.description }}</p>
              <p class="product-price">Price: {{ formatPrice(product.price) }}</p>
              <button
                class="add-to-cart-button"
                [ngClass]="{'remove-cart': cart.includes(product.id)}"
                (click)="updateCart(product.id)"
              >
                {{ cart.includes(product.id) ? 'Remove from Cart' : 'Add to Cart' }}
              </button>
            </div>
          </div>
        </div>
      </div>
    <!-- </ng-template> -->
</div>
